:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;


}

body{
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark{
    background-color: var(--dark) !important;
}

.bg-dark-x{
    background-color: var(--dark-x);
}



.img-1{
    background-image: url('Imagen1.jpg');
}
.img-2{
    background-image: url('Imagen2.jpg');
}
.img-3{
    background-image: url('Imagen3.jpg');
}
.eye-button {
    color: white;
    border: none;
    background-color: transparent;
    padding: 0;
}
.carousel-item img {
    max-width: 750px;
    max-height: 580px;
}
.navbar{
    background-color: lightblue;
    height: 140px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.perfil-button{
    background-color: blue;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.perfil-button:hover{
    background-color: hsla(238, 47%, 56%, 0.685);
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:#666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color:#000;
}

@media (min-width:991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: red;
       visibility: hidden;
       transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}